[submodule "mock-api"]
	path = mock-api
	url = git@github.com:umit144/mock-api.git
[submodule "notification-service"]
	path = notification-service
	url = git@github.com:umit144/notification-service.git
[submodule "subscription-worker"]
	path = subscription-worker
	url = git@github.com:umit144/subscription-worker.git
